
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
    <% for(var letter in scrabble){%>
    <li><%=letter + ' = ' + scrabble[letter]%></li>
    <% } %>
    </ul>
  </body>
</html>