<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= "Welcome to " + title %></h1>
    <img src="images/skyragdoll15.jpg">
    <header>
      <nav>
        <ul>
          <li><a href="/scrabble/chart">See Chart</a></li>
          <li><a href="/scrabble/score">Score Word</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
